<div class="col-md-4 project-col">
  <a href="#" class="project-card">
    <h4><%= project.name %></h4>
    <% if project.description  %>
      <p><%= project.description %></p>
    <% end %>
  </a>
</div>