// Place all the styles related to the Message controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message-wrap {
  display: flex;
  flex-direction: row;
  max-width: 300px;
  margin-bottom: 16px;
  
  .message-main-content {
    border-radius: 6px;
    padding: 8px;
  }

  .message-content {
    p {
      margin-bottom: 0;
      text-align: right;
    }
  }

  .message-user {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #8067c3;
    align-self: center;
    display: flex;
    align-content: center;
    justify-content: center;

    p {
      text-align: center;
      align-self: center;
      color: #fff;
      margin-bottom: 0;
    }
  }

  .message-date {
    font-size: 0.8rem;
    text-align: right;
  }
}

.message-wrap.is-owned {
  margin-left: auto;
  justify-content: flex-end;

  .message-main-content {
    background-color: #eef9fc;
  }

  .message-user {
    margin-left: 8px;
  }
}

